$sidebar-link-padding = .5rem

.sidebar
    border: 0
    padding: 0 1rem

.sidebar-link
    box-sizing: border-box
    padding: 0 1rem

.sidebar-links > li .sidebar-link
    &.active
        border: 0
        background-color: #D4ECFC
        border-radius: 4px


.sidebar ul.sidebar-sub-headers
    padding-top: $sidebar-link-padding

.sidebar-sub-headers .sidebar-sub-header a.sidebar-link
    padding-top: $sidebar-link-padding
    padding-bottom $sidebar-link-padding
    background: transparent

.links
    display: flex

